<h5>{{name}} ({{key}})</h5>
<div class="form-group">
    <label for="{{key}}-min" class="col-sm-3 col-sm-offset-1 control-label">is after</label>
    <div class="col-sm-7">
        <input data-date-format="YYYY-MM-DD H:mm" type="datetime" class="form-control" name="{{key}}-min" id="minval">
    </div>
</div>
<div class="form-group">
    <label for="{{key}}-max" class="col-sm-3 col-sm-offset-1 control-label">and before</label>
    <div class="col-sm-7">
        <input data-date-format="YYYY-MM-DD H:mm" type="datetime" class="form-control" name="{{key}}-max" id="maxval">
    </div>
</div>