<h5>{{name}} ({{key}})</h5>
<div class="form-group">
    <label for="{{key}}-min" class="col-sm-3 col-sm-offset-1 control-label">is older than</label>
    <div class="col-sm-7">
        <input data-date-format="YYYY-MM-DD hh:mm" type="datetime" class="form-control" name="{{key}}-min" id="minval">
    </div>
</div>
<div class="form-group">
    <label for="younger" class="col-sm-3 col-sm-offset-1 control-label">and younger than</label>
    <div class="col-sm-7">
        <input data-date-format="YYYY-MM-DD hh:mm" type="datetime" class="form-control" name="{{key}}-max" id="maxval">
    </div>
</div>