<h4>{{#if location.name}}{{location.name}}{{else}}{{observationtype.name}}{{/if}}</h4>
<p>Created by {{properties.creator.username}}</p>
<a class="btn btn-sm btn-block btn-primary" href="{{id}}">View observation</a>